<div class="nav-container">
  <div class="navigation">
    <ul>
      <li class="list active">
          <a [routerLink]="['/calculadora']">
            <span class="icon">
              <ion-icon name="calculator-outline"></ion-icon>
            </span>
            <span class="text">Calculadora</span>
          </a>
      </li>
      <li class="list" >
        <a [routerLink]="['/gerenciador']">
          <span class="icon">
            <ion-icon name="construct-outline"></ion-icon>
          </span>
          <span class="text">Gerenciador de tarefas</span>
        </a>
      </li>
      <li class="list">
        <a [routerLink]="['/jogodavelha']">
          <span class="icon">
            <ion-icon name="game-controller-outline"></ion-icon>
          </span>
          <span class="text">Jogo da velha</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon">
            <ion-icon name="logo-bitcoin"></ion-icon>
          </span>
          <span class="text">Conversor de moeda</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="text">Settings</span>
        </a>
      </li>
      <div class="indicator"></div>
    </ul>
  </div>
</div>

